body {
    background: rgb(150, 150, 150)
}

.gradient{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,69,70,1) 35%, rgba(0,144,173,1) 100%);
    height: 50px;
}

